/*
*  BNBelgium Plone chambres Gites de Wallonie
*
*  Affinitic 2009
*
*/

body{
background-color : #26235d;
background-image : url(bck_coq.png);
background-repeat : repeat;
background-attachment: fixed;
margin:0;
}

#visual-portal-wrapper {
margin:auto;
padding: 0;
width:1220px;
}

#main-content{
/*border:1px solid #f00;*/
}

/*** PORTAL-TOP ***/
#portal-top {
background-color:transparent;
padding:0;
}


/*** HEADER BNBBelgium ***/
#header-BNBelgium{
background-image:url(bandeau_sup.png);
background-repeat:no-repeat;
background-position:-37px top;
height:163px;
text-align:center;
margin:auto;
}

#bnb-logo{
position:relative;
top:4px;
left:6px;
width:186px;
height:145px;
}

#bnb-logo a{
display:block;
width:186px;
height:145px;
}

#gdw-lien {
position:relative;
background-color:#009900;
left:1125px;
top:6px;
width:25px;
height:12px;
}


#gdw-lien a{
display:block;
width:25px;
height:12px;
}

#gdw-lien a:hover{
background-color:#0f0;
}


/*** GLOBAL NAV (les onglets) ***/
#portal-globalnav {
background-color:transparent;
height:auto;
line-height:normal;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
padding:0 0 0 2em;
white-space:nowrap;
/*width:968px !important;*/
margin-left:auto;
margin-right:auto;
}


/*** LANGUAGE SELECTOR ***/
#portal-languageselector {
margin-top:6px;
margin-right:17px;
font-size:0.9em;
text-align:right;
}
#portal-languageselector a {
text-transform:uppercase;
color:#aaa;
text-decoration:none;
padding-left:5px;
}
#portal-languageselector a:hover {
color:#fff;
}


/*** PERSONAL TOOLBAR ***/
#portal-personaltools {
background-color:#171a34;
border-bottom:1px solid #8CACBB;
border-top:1px solid #8CACBB;
color:Black;
line-height:1.6em;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0 3em;
text-align:right;
text-transform:none;
/*width:968px !important;*/
margin-left:auto;
margin-right:auto;
}

#portal-breadcrumbs {
border-bottom:1px solid #8CACBB;
line-height:1.6em;
padding-left:2em;
padding-right:2em;
text-transform:none;
margin-left:auto;
margin-right:auto;
/*width:968px !important;*/
}


/*** NAVIGATION BOX LEFT COLUMN ***/
.navTreeItem a, dd.portletItem .navTreeItem a {
border:0px solid #15142f;
display:block;
padding-bottom:0.25em;
padding-top:0.2em;
padding-right:5px;
text-decoration:none;
text-align:right;
color:#fff;
}

.navTreeItem a:hover, dd.portletItem .navTreeItem a:hover {
border:0px solid #15142f;
background-color:transparent;
color:#00c2ff;                   /*#453cd6;*/
}

.navTreeCurrentItem {
border:1px solid #00c2ff !important;
background-color:transparent;
color:#00c2ff;                   /*#453cd6;*/
}



/*** MAIN TABLEAU ***/
#portal-columns {
border-collapse:collapse;
border-spacing:0;
background-color:transparent;
}

/*** COLONNE GAUCHE ***/
#portal-column-one {
/*border:1px solid #ff0;*/
/*background-color:#15142f;*/
background-image:url(motif_repetitif_menu.png);
background-repeat:repeat-y;
border-collapse:collapse;
padding:0;
vertical-align:top;
width:195px;
}

#portal-column-one .visualPadding {
padding:3em 16px 1em 5px;
}

#portal-column-content {
border-collapse:collapse;
margin:0 0 2em;
padding:0 0 0;
vertical-align:top;
}


/*** DOCUMENT CONTENT ***/
.documentContent  {
background-color: #ebeaf2;
font-size:110%;
padding:1em 1em 2em !important;
background-image:url(lecoq.png);
background-repeat:no-repeat;
background-position:right bottom;
}

.documentEditable {
margin:0 0;
padding:0 1em 1em !important;
}

.documentActions {
display: none;
}

.documentContent dd a {
border-bottom:0px solid #CCCCCC;
text-decoration:none;
}

#content {
margin-bottom: 1em;
}

#content-news h1 {
margin-bottom:1em;
}

h1 {
margin-top:0;
font-size:1.3em;
border-bottom:1px solid #8CACBB;
font-weight:normal;
color:#443cd6;
text-align:right;
}



/*** BAS PAGE ***/
/* ce n'est pas le footer, mais une ligne de plus à table content*/
#bas-colonne-gauche{
height:237px;
background-image:url(degrade_bas_menu.png);
text-align:center;

}
#bas-colonne-center{
background-image:url(hachures_bas_contenu.png);
background-position: center -1px;
background-repeat: no-repeat;
}



/*** HOMEPAGE STYLE ***/

/* MENU */
#zone-menu{
background-color:#171a34;
color:#b8bbd9;
font-weight:bold;
font-variant:small-caps;
font-size:1.2em;
}

#zone-menu table{
width:100%;
text-align:center;
}

#zone-menu table td{
border-spacing:0px;
border-collpase:0px;
border: 2px solid #a6b0d2;
}

#zone-menu-language {
color:#1C1B50;
width:135px;
}

#zone-menu a{
text-decoration:none;
color:#b8bbd9;
}

#zone-menu a:hover{
text-decoration:underline;
color:#f3f4f9;
}

#zone-menu a:active{
text-decoration:underline;
color:#ffb700;
}


/*** SEPARATEUR ***/
#dot-spacer {
background-color:#f0f3f6;
background-image:url(dot.gif);
background-repeat:repeat-x;
height:5px;
width:923px;
margin-left:auto;
margin-right:auto;
margin-top:7px;
}

/*** language selector***/
.visualGhosted {
opacity:1;
}

.currentItem {
border-width:0px 0px 1px 0px;
border-style:solid;
border-color:#FFA500;
}
#menu-languageselector a{
color:#b8bbd9;
}

#menu-languageselector a:hover{
color:#fff;
}



/**** MOTEUR RECHERCHE ****/
div.formHelp {
display: none;
}

#moteur-recherche {
/*width:748px;*/
text-align:center;
margin-left:auto;
margin-right:auto;
margin-top: 13px;
}

#moteur-recherche td {
padding:0px;
}

.label-recherche {
text-transform: uppercase;
color:#3a337f;
}


#zone-rechercher {
/*width: 786px;*/
margin-left: auto;
margin-right: auto;
margin-top: 15px;
margin-bottom: 15px;
}

#moteur-form-cell {
background-image:url(bck_moteur_recherche.png);
background-repeat:no-repeat;
height:365px;
}

#moteur-form {
text-align: left;
padding-left: 45px;
}

#form-action-search input{
background-color:transparent;
background-image:url(bck_btn_rechercher.png);
border:none;
height:19px;
width:99px;
}

#form-button-go{
background-color:transparent;
border:none;
color:#fff;
background-image:url(bck_btn_go.png);
}

.form-button-calendar{
background-color:transparent;
border:none;
color:#fff;
background-image:url(bnb_clandrier.png);
height:16px;
width:16px;
}

#moteur-ref-cell {
}

#moteur-ref {
text-align:left;
padding-left:40px;
padding-top:15px;
}

#texte-ref{
width:240px;
padding-left:10px;
}

#moteur-carte {
margin-left:10px;
width:378px;
}

/*** FIN HOME PAGE ***/


/*** DEBUT OUTIL PROMO ***/
/* Séjours Futés - Dernière minute - Idées Séjours - La boutique */
.masquer-titre{
display:none;
background-color:transparent;
}

#zone-portlet {
width: 700px;
margin-left: auto;
margin-right: auto;
margin-top: 35px;
background-color:transparent;
}

#zone-portlet table {
margin-left:auto;
margin-right:auto;
height: 180px;
padding-left:6px;
padding-right:6px;
/*background-color:#e7e7ef;*/
}

#zone-portlet div {
}

#zone-portlet td {
padding-top:10px;
padding-left:0px;
padding-right:0px;
}

#bnb-portlet-title{
text-align:center;
margin-bottom:17px;
margin-top:6px;
}

.bnb-porlet-image{
margin-bottom:6px;
}

.portlet {
background-color:transparent;
border:1px solid #524bbe;
margin:1px 0 1em;
}

.portletItem {
border-left:none;
border-right:none;
margin:0pt;
padding:1em;
}

dl.portlet {
background-color:transparent;
margin:0px 29px 0px 5px;
height:340px;
text-align:center;
}

dt.portletHeader {
border: none;
font-size:1.2em;
font-weight: bold;
font-variant:small-caps;
color:#bc0000;
margin: 0em 11px !important;
padding-top: 0px;
padding-left: 0px;
width:132px; <!-- nécessaire sinon probleme avec IE dans colonne de droite-->
}

dd.portletItemSingle, dd.portletItem  {
border:none;
margin: 0em 1em;
padding:1px 6px;
}

dd.portletItemLast {
border: none;
margin: 0em 1em;
padding-bottom: 10px;
padding-left: 20px;
padding-top: 5px;
/*width:123px;*/ <!-- nécessaire sinon problème avec IE dans colonne de droite-->
}

.portletFooter{
visibility:hidden;
}

dd.portletFooter {
background-color:transparent;
border: none;
border-top-style: none !important;
margin: 5px 11px;
padding-bottom: 10px;
padding-top: 0px;
padding-right: 16px;
width:132px;
}

.portletItemDetails {
text-align:center;
left:auto;
right:auto;
margin-left:-5.5px;
}

.portlet-static-allo-chambre-dhotes {
color:#E4D2E9;
padding-left:24px;
text-transform:uppercase;
text-align:center;
}

#derniere-minute-vignette{
width:140px;
}

.pullquote {
background-color:transparent;
}

/*** FIN OUTIL PROMO ***/


/*** STYLE EDITEUR KUPU ***/
table.plain, table.plain td, table.plain th {
border:0px solid #CCCCCC;
border-collapse:collapse;
padding:0.5em;
}



/*** DEBUT DESCRIPTION HEBERGEMENT ***/
fieldset {
border:1px solid #8CACBB;
line-height:1.5em;
margin:0em;
width:auto;
}

#description{
width: 100%;
}

/* type hebergement - reference - nbre epis - gites+ - theme - capacite*/
#des-zone1{
position:relative;
height: 30px;
border-width:0px 0px 1px 0px;
border-style: solid;
border-color: #AAA;
}

#type_heb{
padding-left:5px;
float:left;
font-weight:bold;
font-size: 1.2em;
}

#heb_ref{
float:left;
margin-top: 5px;
font-weight:bold;
font-size: 0.8em;
}

#heb_epis{
background-color:transparent;
position:relative;
width:150px;
text-align:left;
float:left;
margin-top: 6px;
padding-left: 60px;
}

#heb_theme{
float:left;
margin-top: 2px;
padding-left: 20px;
}

#heb_gites_plus{
float:left;
margin-top: 2px;
padding-left:85px;
}

#heb_capacite{
text-align:right;
padding-right: 5px;
font-weight:bold;
font-size: 1.2em;
padding-top: 7px;
}


/***
Zone centrale qui contient toutes les infos
photos, tarifs, icones, confort, literie
***/
#table-description{
width:100%;
clear:both;
margin-top:10px;
border:none;
}

#table-description td{
border:none;
}

#col-gauche{
vertical-align: top;
text-align: center;
border:none;
}

#col-centre{
vertical-align: top;
width: 5em;
border: none;
}

#col-droite{
vertical-align: top;
}

#heb_photo{
height:195px;
text-align:left;
}

#heb_coordonnee_chambre{
background-color:#82a7ea;
width: 93%;
height: 80px;
padding: 0.9em 0.9em 0em 1em;
margin-top: 5px;
}

#heb_coordonnee_gite{
background-color:#ace087;
width: 277px;
height: 80px;
padding: 0.9em 0.9em 0em 1em;
margin-top: 5px;
}

#heb_nom{
font-weight:bold;
font-variant: small-caps;
font-size: 1.5em;
}

#btn_outil{
margin-top: 5px;  
width: 300px;
height: 40px;
text-align:right;
font-size:-2.8em;
}

#btn_gallery_back{
text-align:left;
margin-top: 5px;
}

.photo_gallery{
margin-top:8px;
}

#heb_activite_icone{
background-color:#fffd8b;
font-size:0.8em;
}

#heb_info{
padding:2px 2px 0px 4px;
}

.chambre{
float:left;
text-align: center;
font-weight: bold;
background-color:#faecd1;
margin-right: 8px;
}

.lit{
float:left;
text-align: center;
}

.picto{
margin:3px 6px;
}

/*** tarification ***/
#tarification-chambre{
background-color:#ced8e2;
border-collapse: collapse;
border:1px solid #4f658e;
}

#tarification-chambre td{
border:1px solid #4f658e;
}

.bg-chambre{
background-color:#82a7ea;
height:40px;
}

#tarification-gite{
background-color:#EEFFEE;
border-collapse: collapse;
border:1px solid #83aa67;
}

#tarification-gite td{
border:1px solid #83aa67;
}
.bg-gite{
background-color:#ace087;
height:40px;
}


/*** region ***/
#dans-la-region{
width:100%;
margin-top: 10px;
}

#region-sejour-fute{
border-style:solid;
border-width:1px 5px 1px 5px;
border-color:#d7d3ab;
background-color:#fffacb;
margin:7px 0px;
padding: 5px;
}

#region-maison-trourisme{
border-style:solid;
border-width:1px 5px 1px 5px;
border-color:#d7d3ab;
background-color:#fffacb;
margin:7px 0px;
padding:5px;
}

#region-info-tourisme{
border-style:solid;
border-width:1px 5px 1px 5px;
border-color:#d7d3ab;
background-color:#fffacb;
margin:7px 0px;
padding:5px;
}

#region-autre-heb{
border-style:solid;
border-width:1px 5px 1px 5px;
border-color:#d7d3ab;
background-color:#fffacb;
margin:7px 0px;
padding:5px;
}

.region-titre {
font-variant: small-caps;
font-size:1.2em;
font-style:italic;
}

/*** infos proprio ****/
#info-proprio {
width:100%;
margin-top: 10px;
}

#heb_proprio{
padding:5px;
}

#heb_commentaire{
height:200px;
margin-left:5px;
padding:5px;
display:none;

}

#contact-proprio{
background-color:#DDD;
margin-top: 8px;
text-align:right;
padding-right:0.8em;
height: 1.8em;
}

#contact-proprio a:hover{
color:#F00;
}

.bg-chambre{
background-color:#82a7ea;
height:40px;
}

.bg-chambre-data{
background-color:#ced8e2;
}
.bg-gite{
background-color:#ace087;
height:40px;
}

.field-des{
margin-left:4px;
}

legend {
background:transparent none repeat scroll 0 0;
font-size:90%;
padding:0.5em;
}

.leg-des{
background-color:#F0F3F6;
font-weight:bold;
font-size:0.8em;
color:#050b48;
}

.leg-des-rem{
font-weight:bold;
font-size:0.8em;
color:#F00;
}

.floatleft{
float:left;
}

.floatright{
float:right;
}

#navigation_bas{
border-top:1px solid #8cacbb;
font-size:0.8em;
text-align:center;
}
/*** FIN DESCRIPTION D'UN HEBERGEMENT ***/


/*** SEJOURS FUTES ***/
.sejour_fute_container #title{
font-size:16px;
font-weight:bold;
}

.sejour_fute_container fieldset{
margin-top:10px;
padding-top:10px;
}

#div_sejours_futes{
width:99.5%;
float:left;
}

.sejour_fute_container #description{
font-size:11px;
font-weight:bold;
color:black;
text-decoration:none;
}

.sejour_fute_container #logo{
float: left;
vertical-align:text-top;
margin-right: 10px;
margin-bottom: 2px;
}
/*** FIN SEJOURS FUTES ***/


/*** IDEES SEJOURS ***/
div #idee-sejour-heb-list {
margin: 0px 20px 0px 20px;
}

.pullquote {
background-color:transparent;
}

#div_idee_sejours{
width:99.5%;
float:left;
}

.idee_sejours_container #title{
font-size:16px;
font-weight:bold;
}

.idee_sejours_container fieldset{
margin-top:10px;
padding-top:10px;
}

.idee_sejours_container #description{
font-size:11px;
font-weight:bold;
color:black;
text-decoration:none;
}

.idee_sejours_container #logo{
float: left;
vertical-align:text-top;
margin-right: 10px;
margin-bottom: 2px;
}
/*** FIN IDEES SEJOURS ***/


/*** PORTAL FOOTER ***/
#footer-BNBelgium {
background-color:transparent;
border-bottom:0px solid #8CACBB;
border-top:0px solid #8CACBB;
line-height:1.2em;
margin-left:auto;
margin-right:auto;
padding:0.5em 0 1em;
text-align:center;
}
/*** FIN PORTAL FOOTER ***/




/*** MASQUAGE DES OBJETS VENANT DE GDW ***/

/*
masquage du footer classique 
pour ne pas modifier les
portlets dans gites
*/
dd.portletFooter a img {
display:none;
}

/* footer seleument actif dans bnb*/
.bnbportletFooter{
/*border:1px solid #F00;*/
text-align:right;
width:177px;
position:relative;
left:5px;
top:-29px;
}

#portlet-je-suis, #portlet-outil, 
#portlet-partenaires, #portlet-menu-idee-sejour{
display:none;
}
